.fa {
  margin-top: 5px;
}

.btnSidebar {
  background-color: #f1f1f1 !important;
}

button.close {
  margin: 1rem 0 2rem 15rem;
}

.close {
  font-size: xx-large !important;
  font-weight: lighter;
}

.sidebarContainer {
  display: flex;
  align-items: left;
  flex-direction: column;
}

.sidebarCategory {
  text-align: left;
}

.sidebarCategory span {
  font-weight: bold;
}

.sidebarCategory:nth-last-child(1) {
  margin-top: 3rem;
}

.dropdown {
  margin-bottom: 1rem;
}

.tri input {
  margin-right: 0.5rem;
}

.postFilter{
  margin-top: -2rem;
}
