.btnColor, .btnFacebook, .btnTwitter, .btnInsta {
  margin: 0 1rem;
  background-color: tomato;
  padding: 0.5rem;
  border-radius: 10px;
  color: #fff;
  border: none;
  height: 40px;
}

.btnTwitter {
  background-color: var(--tr);
  margin-bottom: 10px;
}

.btnFacebook {
  background-color: var(--fk);
  margin-bottom: 10px;
}

.btnInsta {
  background-color: var(--im);
}

.btnTwitter:hover, .btnFacebook:hover, .btnInsta:hover {
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.5);
}
