.cardFb {
  width: 100vw;
  height: 100vh;
  background: var(--bgNoImgFb);
} 

.txtSpanWithImgFb {
  color: var(--rxFb);
  font-weight: bold;
}

.getImgFb {
  display: flex;
  width: 450px;
  height: 550px;
}