.cardInsta {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    10deg,
    #405de6,
    #5851db,
    #833ab4,
    #c13584,
    #e1306c
  );
  color: var(--txt);
}

.txtSpanWithImgInst {
  color: var(--im);
  font-weight: bold;
}

/* ne marche pas, mais getImg marche ? */
.getImgInsta {
  width: 600px;
  height: 600px;
}
