.cardFk {
  width: 100vw;
  height: 100vh;
  background: var(--fkBackgroundNoImg);
} 

.txtSpanWithImgFk {
  color: var(--fk);
  font-weight: bold;
}

.getImgFk {
  display: flex;
  width: 450px;
  height: 550px;
}