*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* bg === background-color
 * Rx === Regex  
 * Tr === Twitter  
 * Im === Instagram
 * Fb === Facebook
*/

:root {
  --tr: #1da1f2;
  --fb: #4267b2;
  --im: #e1306c;
  --bgNoImgTr: #1da1f2;
  --bgNoImgTrFb: #4267b2;
  --rxTr: #1da1f2;
  --rxFb: #4267b2;
  --rxIm: #e1306c;
  --rxNoImg: #000;
  --hashtagColor: #1da1f2;
}


body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #333 !important;
  /* background-image: url('../src/components/synBackground.png'); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
