*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* bg === background-color
 * rx === Regex  
 * tr === Twitter  
 * im === Instagram
 * fk === Facebook
*/

:root {
  --txt: #fff;
  --rxNoImg: #000;
  --fk: #4267b2;
  --fkHashtagColor: #4267b2;
  --fkMentionColor: #4267b2;
  --fkBackgroundNoImg: #4267b2;
  --im: #e1306c;
  --imHashtagColor: #e1306c;
  --imMentionColor: #e1306c;
  --tr: #1da1f2;
  --trHashtagColor: #1da1f2;
  --trMentionColor: #1da1f2;
  --trBackgroundNoImg: #1da1f2;
}


body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #333 !important;
  /* background-image: url('../src/components/synBackground.png'); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
