@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loader-container {
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  padding: 1rem;
  background-color: #fff;
  transition: opacity 1s ease-in-out, visibility 1s ease-in-out;
}

.loader-container.hidden {
  opacity: 0;
  visibility: hidden;
}

.loader {
  width: 50px;
  height: 50px;
  border: 10px solid gold;
  border-top: 10px solid #e5e5e5;
  border-radius: 50%;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  box-shadow: 0 0 6px 2px rgba(0,0,0,0.2) ;
  animation: loader 1s linear infinite;
}

@keyframes loader {
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
